---
import BaseLayout from "@layouts/MainLayout.astro";
import ReactWorkDetail from "@components/react/ReactWorkDetail";
---

<BaseLayout>
  <section>
    <ReactWorkDetail client:only="react" />
  </section>
</BaseLayout>

<style lang="scss">
  @import "@styles/variables.scss";

  section {
    margin: 0 auto;
    max-width: $breakpoint-md;
  }
</style>
