---
import BaseLayout from "@layouts/MainLayout.astro";
import ReactWorksList from "@components/react/ReactWorksList";
import "@store/index";
---

<BaseLayout>
  <section>
    <ReactWorksList client:only="react" />
  </section>
</BaseLayout>
