---
import BaseLayout from "@layouts/MainLayout.astro";
import ReactContactForm from "@components/react/ReactContactForm";
---

<BaseLayout>
  <section>
    <ReactContactForm client:only="react" />
  </section>
</BaseLayout>

<style lang="scss">
  @import "@styles/variables.scss";

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: $breakpoint-md;
    min-height: calc(100svh - $nav-height - $footer-height);
  }
</style>
